<link rel="stylesheet" href="/app.css">

<h1>Landing Page Title</h1>
<p class = "lead">Put secondary message here.</p>
<p>There are currently <%=data%> users signed up.</p>

<form method="POST" action ="/register">
    <input type="email" name="email" class = "form" placeholder="Please enter your email">
    <button>Sign Up</button>
</form>